
/* USED ONLY IN 全部回答.html */
.sort{
	text-align:right;
	display: inline-block;
    margin-left: 20px;
}

.sidenav {
    width: 28%;
    position: fixed;
    z-index: 1;
    top: 40%;
    left: 70%;
    right: 5%;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.sidenav{
	/* UNDECIDED */
}

.questions{
	position: relative;
	width: 66%;
	left: 1%;
}
/* end of css for 全部回答.html */

/* SEARCHFIELD: class="searchfield"; */
.searchfield {
    padding: 20px 20px 20px 20px;
    background: #f5f5f5;
    overflow: auto;
    text-align: center;
}
.searchfield input{
    width: 40%;
    border: 1px solid #c6c6c6;
    height: 40px;
    padding: 0px 25px 0px 50px;
    font-size: 18px;
    color: #5b5b5b;
    background: #ffffff url(../images/search.png) no-repeat scroll 7px 10px;
    margin: 0 auto;
}
.buttonsearch {
    display: inline-block;
    border-radius: 0;
    height: 40px;
    width: 50px;
    border-radius: 6px;
    margin-top: -5px;
}
input.search {
    min-width: 80px;
}