.question{
    position: relative;
    width: 66%;
    left: 1%;
}

/* drop zone */
.drop{
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: -30px;
  width: 100%;
  height: auto;
  border: 4px dashed #000;
}

/* end of Drop Zone */

/* description zone */
.desc{
  width: 100%;
  margin: 0 auto;
  height: auto;
}
/* end of sescription zone */

/* decoration bar */
.bar{
  width: 100%;
  margin: 0 auto;
  height: auto;
  background-color: #A9A6B1;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
/* end of decoration bar */

textarea { font-size: 18px; }

form{
  width: 100%;
}

#main{
    -webkit-transform: translate(-50%,-30%);
    transform: translate(-50%,-30%);
    position: absolute;
    top: 30%;
    left: 50%;
    width: 35%;
    height: auto;
}

@media screen and (max-width: 750px) and (min-width:300px){
    #main{
        width: 50%;
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) and (min-width:0px){
   #main{
        width: 60%;
        font-size: 12px;
    }
}
