/* SEARCHFIELD: class="searchfield"; */
.searchfield {
    /* padding: 20px 20px 20px 20px; */
    width: 100%;
    height: 45%;
    -webkit-transform: translate(-50%,-55%);
    transform: translate(-50%,-55%);
    position: absolute;
    top: 55%;
    left: 50%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
}
.searchfield input{
    position: absolute;
    top: 40%;
    width: 40%;
    height: 10%;
    border: 1px solid #c6c6c6;
    padding: 0 5% 0 5%;
    font-size: 16px;
    color: #5b5b5b;
    background: #ffffff url(../images/search.png) no-repeat scroll 2% 50%;
    left: 20%;
    display: inline-block;
}
.buttonsearch {
    position: absolute;
    top: 41%;
    left: 71.5%;
    border-radius: 0;
    height: 10%;
    width: 10%;
    border-radius: 6px;
    margin-top: -0.5%;
    display: inline-block;
}

/* input.search {
    min-width: 80px;
} */

#icon{
    width: 100%;
    height: 100%;
}

#icondiv{
    width: 20%;
    height: auto;
    -webkit-transform: translate(-50%,-30%);
    transform: translate(-50%,-30%);
    position: absolute;
    top: 30%;
    left: 50%;
}

@media screen and (max-width: 180px) and (min-width:0px){
    #icondiv {
        width: 90%;
    }
    .buttonsearch{
        font-size: 10px;
    }
    .searchfield input{
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) and (min-width:180px){
    #icondiv {
        width: 85%;
    }
    .buttonsearch{
        font-size: 12px;
    }
    .searchfield input{
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) and (min-width:300px){
    #icondiv {
        width: 70%;
    }
    .buttonsearch{
        font-size: 14px;
    }
    .searchfield input{
        font-size: 14px;
    }
}

@media screen and (max-width: 680px) and (min-width:480px) {
    #icondiv {
        width: 50%;
    }
}

@media screen and (max-width: 900px) and (min-width:680px){
    #icondiv {
        width: 35%;
    }
}