.gray {
	padding: 5px 10px 5px 5px;
	margin-top: -10px;
/* 	border-top: 1px solid #f0eeee;
	border-bottom: 1px solid #f0eeee; */
	border-radius: 10px 10px 0 0;
	background-color: #D3D3D3;
}

.profile{
	width: 80px;
	height: 80px;
	padding: 5px 5px 5px 5px;
}

#profileimage{
	padding: -5px;
	margin-bottom: -5px;
}

#changeform{
	padding: -5px;
	margin-top: -25px;
	margin-left: 10px;
	margin-bottom: -10px;
}